nav {
	display: flex;
	justify-content: center;
}

.navbar-btn-container {
	margin: 8px;
}

.navbar-btn {
	border: 0px;
	background-color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 8px 8px 8px 8px;
	cursor: pointer;
}

.navbar-btn:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.navbar-btn-text {
	margin-top: 16px;
}
